// Colors
$grey        : #9F979F;
$lightGrey   : #E4E4E4;
$scdLightGrey: #F8F4F8;
$white       : #fff;


// Device
$mobile            : 600px;
$tablet_portrait   : 769px;
$tablet_container  : 980px;
$tablet            : 1024px;
$desktop           : 1220px;
$laptop            : 1400px;
$widescreen        : 1500px;


// Font
$font              : 'Source Code Pro', monospace;

// Menu
$menuHeight        : 80px;

